<!--<h1>Users#new</h1>
<p>Find me in app/views/users/sign_in.html.erb</p>-->

<div>
<%= form_tag(users_sign_in_path, method: 'post')  do %>
  <%= label_tag(:username, "Username:") %>
  <%= text_field_tag(:username) %>

 <%= label_tag(:email, "Email:") %>
  <%= text_field_tag(:email) %>
  
  <%= submit_tag("Submit") %>
<% end %>
</div>
