
<h2>Sign In Form</h2>
<div>
<%= form_tag(users_sign_in_path, method: 'post')  do %>

  <%= label_tag(:username, "Username:") %>
  <%= text_field_tag(:username) %>

 <%= label_tag(:email, "Email:") %>
  <%= text_field_tag(:email) %>
  
  <%= submit_tag("Submit") %>
<% end %>
</div>

