<% if logged_in? %>
<h3><%= session[:current_user_name] %> is logged in</h3>

<h3>Create a new event</h3>
<div>
<%= form_tag(events_new_path, method: 'post')  do %>

    <%= label_tag(:title, "Title:") %>
    <%= text_field_tag(:title) %><br/><br/>

    <%= label_tag(:description, "Description:") %>
    <%= text_field_tag(:description) %><br/><br/>

    <%= label_tag(:date, "Date:") %>
    <%= text_field_tag(:date) %><br/><br/>

    <%= label_tag(:location, "Location:") %>
    <%= text_field_tag(:location) %><br/><br/>

     
    <%= submit_tag("Submit") %>
<% end %>
</div>
<% else %>
    <p> Please sign in! </p>
    <p class="control">
     <%= link_to 'Sign In', users_sign_in_path, class: "button is-info" %>
    </p>
<% end %>
