<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

   <% if flash[:notice] %>
        <div>
         <p><%= notice %></p>
        </div>
     <%end%>

     <% if flash[:alert] %>
        <div>
         <p><%= alert %></p>
        </div>
     <%end%>
   <br/><br/><br/>
  

  <% if logged_in? %>
              <p>
                <%= link_to "Logout", users_log_out_path, method: :delete %>
              </p>
              <p>
                <%= link_to "All Events", events_index_path %>
              </p>
              <p>
                <%= link_to "Create an Event", events_new_path %>
              </p>
              <p>
                <%= link_to "Events attended by #{session[:current_user_name]}" , users_show_path %>
              </p>
            <% else %>
              <p class="control">
                <%= link_to 'Sign In', users_sign_in_path %>
              </p>
              <p class="control">
                <%= link_to 'Sign Up', users_sign_up_path %>
              </p>
					   <% end %>
    <%= yield %>
  </body>
</html>
